body {
    margin: 0;
    padding: 0;
    background-color: grey;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
  }
.header_right {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.header_left{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font: Georgia bold 15px/25px Georgia, serif;
}


.backgroundText {
    width: 100%;
    height: 700px;
    margin: 0% auto;
    background-image: url("https://static.vinepair.com/wp-content/uploads/2017/06/ind-internal.jpg");
    background-repeat: no-repeat;
    border: 1px solid  black;
    background-size: cover;
    color: white;
    text-align: center;
    display: block;
    padding-top: 20%;
}
.backgroundTextTitle {
color: white;
font: Georgia bold 12px/30px Georgia, serif;
font-size: 3em;
}

.backgroundTextTitle2 {
    color: white;
    font: Georgia bold 12px/30px Georgia, serif;
    font-size: 1.5em;
    }

.backgroundTextButton {
    width: 20%;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    font-style: normal;
}

.location {
    display: block;
    color: white;
    font: Georgia bold 10px/20px Georgia, serif;
    text-align: center;
    background-image: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.639723198848!2d2.161148515426306!3d41.403629879262716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2bf74c9741d%3A0x3e4ceb6db3844180!2sPasseig+de+Sant+Joan%2C+189%2C+08037+Barcelona!5e0!3m2!1sen!2ses!4v1552990459494" width="600" height="450" frameborder="0" style="border:0" allowfullscreen"
}

.locationContent {
text-align: left;
color: white;
width: 100%;
margin: 0;
}

a {
    text-decoration: none;
    color: white;
    
}

.galleryTitle {
text-align: center;
color: white;
width: 100%;
margin: 0 %; 
}

.galleryRow {
color: white;
font: Georgia bold 12px/30px Georgia, serif;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
width: 100%;
margin: 2% 0;
}

.galleryImage {
    width: 100%;
    margin: 0;
}
.galleryBackground {
width: 100%;
}
section {
    color: white;
    font: Georgia bold 12px/30px Georgia, serif;
    text-align: center;
}
.beerColumns {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.beerDescription {
width: 50%;
margin: 0 25%;
}
.team {
    color: white;
    font: Georgia bold 12px/30px Georgia, serif;
    text-align: center;
}

.teamImages {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 100%;
margin: 0;

}

.banana {
    border: 1px solid black;
    min-height: 200px;
}